export(CS.prep)
export(Combine_Surfaces)
export(Diagnostic.Plots)
export(GA.prep)
export(MLPE.lmm)
export(MS_optim)
export(PLOT.trans)
export(Resistance.Opt_multi)
export(Resistance.Opt_single)
export(Run_CS)
export(SS_optim)
export(lower)
import(GA)
import(lme4)
import(raster)
importFrom(plyr,arrange)
